<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />

</head>

<body>

<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href= "{{ path('homepage')}}">Home</a></li>
            <li><a href= "{{ path('temp_index', { 'key' : 10 }) }}">Blog</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
</div>

</body>

</html>