
html,body{
	height: 100%;
}

.banner{
	width: 100%;
	height: 100%;
	background-color: #DCDEE0;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-main{
	background-color: #DCDEE0;
	/* height: 100%; */
	padding: 0 0 30px 0;
}
.navbar{
	margin-bottom: 30px;
	border-radius: 0;
}
.main-div {
	background-color: #fff;
	height: 100%;
	padding: 15px;
	border-radius: 5px;
	
}
.form-box {
	background-color: #fff;
	width: 30%;
	padding: 30px;
	/*text-align: center;*/
	border-radius: 5px;
}
button {
	float: right;
}
span{
	color: red;
	font-size: 12px;
	padding: 0 5px;
	display: none;
}
#okpasswordlabel {
	color: red;
	font-size: 12px;
	padding: 0 5px;
	display: none;
}

.output {
	font-size: 16px;
	font-weight:bold;

}
.login-heading{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0;
}
.new-job-btn{
	cursor: pointer;
}
.modal-body form {
	padding: 0 15%;
	height: 70%;
}
.modal-body button {
	/* margin: 20px 0; */
}